<div class="image-container">
  <%= image_tag("israel.jpg", :size => "800x400")%>
</div>
<div class="play-container">
  <div class="ui small progress">
    <div class="bar"></div>
    <div class="label">14:36</div>
  </div>
  <button class="ui labeled icon button">
    <i class="pause icon"></i>
    停止
  </button>
  <button class="ui right labeled icon button">
    <i class="play icon"></i>
    全て再生
  </button>
  <div class="ui three item menu">
    <a class="item active">再生リスト</a>
    <a class="item">コメント一覧</a>
    <a class="item">過去のオーディオ</a>
  </div>
</div>
<div class="list-container">
  <div class="ui segments">
    <div class="ui segment">
      <p>タイトルコール</p>
      <h6>00:03</h6>
      <div class="listlist">
        <div class="ui two bottom attached buttons">
          <div class="ui button">
            <i class="add icon"></i>
            次に再生
          </div>
          <div class="ui primary button">
            <i class="play icon"></i>
            Listen
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <p>はじめに</p>
      <h6>00:23</h6>
      <div class="listlist">
        <div class="ui two bottom attached buttons">
          <div class="ui button">
            <i class="add icon"></i>
            次に再生
          </div>
          <div class="ui primary button">
            <i class="play icon"></i>
            Listen
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <p>【金言10選】ユダヤ人の成功の秘訣「タルムード」の教え</p>
      <h6>03:54</h6>
      <div class="listlist">
        <div class="ui two bottom attached buttons">
          <div class="ui button">
            <i class="add icon"></i>
            次に再生
          </div>
          <div class="ui primary button">
            <i class="play icon"></i>
            Listen
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <p>【3分解説】世界の今を「牛耳る」10人のユダヤ人たち</p>
      <h6>04:11</h6>
      <div class="listlist">
        <div class="ui two bottom attached buttons">
          <div class="ui button">
            <i class="add icon"></i>
            次に再生
          </div>
          <div class="ui primary button">
            <i class="play icon"></i>
            Listen
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <p>イスラエル沸騰。なぜユダヤ人がイノベーションを生むのか</p>
      <h6>02:34</h6>
      <div class="listlist">
        <div class="ui two bottom attached buttons">
          <div class="ui button">
            <i class="add icon"></i>
            次に再生
          </div>
          <div class="ui primary button">
            <i class="play icon"></i>
            Listen
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content">
    <%= audio_tag("audio1", id: "sampleAudio", controls: true)%>
</div>
<!--<button id="play">再生</button>-->
<!--<button id="pause">一時停止</button>-->