.content-container {
  margin: 20px;
}

.image-container {
  text-align: center;
}

.play-container {
  text-align: center;
  margin: 20px 200px 20px 200px;
}

.list-container {
  //text-align: center;
  padding: 0px 300px 50px 300px;
}

.list-container p {
  font-size: 20px;
}


.listlist {
  width: 400px;
}
