
<div class="ui main text container">
    <h1 class="ui header">Audio</h1>
    <p>音で学ぼう</p>
</div>
<div class="ui borderless main menu">
        <div class="ui text container">
          <div href="#" class="header item">
            <img class="logo" src="assets/images/logo.png">
            ホーム
          </div>
          <a href="#" class="item">ニュース</a>
		  <a href="#" class="item">ビジネス</a>
		  <a href="#" class="item">英語</a>
		  <a href="#" class="item">教養</a>
          <a href="#" class="ui right floated dropdown item" tabindex="0">
            アカウント <i class="dropdown icon"></i>
            <div class="menu" tabindex="-1">
              <div class="item">Link Item</div>
              <div class="item">Link Item</div>
              <div class="divider"></div>
              <div class="header">Header Item</div>
              <div class="item">
                <i class="dropdown icon"></i>
                ログイン
                <div class="menu">
                  <div class="item">E-mail</div>
		          <div class="item">Twitter</div>
		          <div class="item">Facebook</div>
                </div>
              </div>
              <div class="item">New Member</div>
            </div>
          </a>
        </div>
</div>
